.navbar{
    padding-right:60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
}

h2 {
      margin-top: 30px;
      margin-bottom: 50px;
      text-align: left;

}

#bio {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: left;
      }


      .responsive {
        width: 100%;
        max-width: 400px;
        height: auto;
      }