.navbar{
    padding-right:60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold
}

h2 {
      margin-top: 30px;
      margin-bottom: 50px;
      text-align: center;

}     

      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: green;
        color: white;
        text-align: center;
     }

     
     img {
        max-width: 100%;
        height: auto;
        
      }